div.slide {
	padding:5px;
	border: 4px #aaaaaa  solid;
	margin-bottom:5px;
	width: 942px;
	text-align:center; 
	font-size: 24px;
	font-weight:bold;
}
div.slide img {
	padding:2px;
	border: 2px #aaaaaa  solid;
	margin-bottom: 20px;
}
div.view {
	padding:5px;
	border: 4px #aaaaaa  solid;
	margin-bottom:10px;
	width: 680px;
}
div.view img {
	padding:2px;
	border: 2px #aaaaaa  solid;
	margin-bottom: 20px;
}

div.photo_relate {
	text-align:center;
}

div.relate {
	height:80px;
	float:left;
}

div.relate img {
	width:100px;

	background:#EEE;
	border:1px solid #ccc;
	text-align:center;

	padding:5px;
	/*margin:0 0 5px 5px;*/
	

	display:inline;
	overflow:hidden;
}